<footer>
    <nav class="container">
        <div>
            <a href="#">about</a>
            <a href="#">support</a>
            <a href="#">
                social
            </a>
        </div>
        <small>&copy;2022 all right reserved</small>
    </nav>
</footer>
    
</body>
</html>