<!-- @format -->

<% include partial/header %>

<main class="height padding-top">
  <section class="container flex padding-top">
    <article class="home-article flex-80">
      <h1 class="primary-heading">create your blog</h1>
      <p class="para padding-t-b">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate
        saepe itaque enim ut alias consequuntur unde ullam, ducimus, recusandae
        dolorum aspernatur. Nam recusandae totam eveniet, accusamus dolorum
        tempora perspiciatis. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Sunt ab deserunt soluta perferendis dolor iusto sint
        quia ad reprehenderit. Suscipit officiis modi earum ipsam dolor amet
        porro officia unde sit. <br />

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
        accusamus a est pariatur illo, repudiandae rem architecto quae
        aspernatur praesentium quasi, perferendis incidunt dicta possimus
        corrupti soluta, eos minima dignissimos. Soluta blanditiis vero
        similique, temporibus saepe aperiam tempora ex corporis tempore sunt
        laboriosam sed, et magnam id ipsam atque quaerat impedit consequatur
        numquam doloribus a! Neque sint voluptatem reiciendis modi!
        Reprehenderit odio nisi quia, rem minus voluptate ullam? Aliquid
        repellat possimus quisquam fugiat vero. Sit at, beatae repudiandae aut
        impedit voluptatum ipsa, quod reprehenderit ad, et aperiam dolorum est.
        Temporibus! Sequi excepturi, vitae necessitatibus architecto expedita
        iusto reprehenderit libero. Voluptas, repudiandae accusamus impedit
        dicta labore vel. Aliquam harum odio in dolores, ipsa mollitia
        repellendus eos, voluptate officiis, explicabo maiores eaque. Dolorem
        qui quos neque velit, repudiandae dolores quibusdam obcaecati maxime
        aperiam quia consequuntur a ex earum! Recusandae laboriosam quas autem
        ea, quisquam sequi, vel quia veniam ullam debitis eos fuga?0
      </p>
    </article>
  </section>
</main>
<% include partial/footer%>
